<table class="table" xmlns="">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr appExampleTableRow *ngFor="let user of users; let i = index; trackBy: trackByFn" [user]="user"
        [class.disabled]="disabledUserIds.indexOf(user.id) >= 0" [rowIndex]="i"
        (click)="$event.currentTarget.classList.contains('disabled') || onClick(user)"></tr>
  </tbody>
</table>
